nav.nav
  ul(role="menu")
    li(role="menuitem")
        a(href="#services") Наши услуги
    li(role="menuitem")
        a(href="#price") Цены
    li(role="menuitem")
        a(href="#reviews") Компания
    li(role="menuitem")
        a(href="#photo") Контакты
    li(role="menuitem")
        a(href="#photo") Блог
