nav.nav
  ul(role="menu")
    li(role="menuitem")
      a(href="#services") Наши услуги
    li(role="menuitem")
      a(href="#prices") Цены
    li(role="menuitem")
      a(href="#company") Компания
    li(role="menuitem")
      a(href="#contacts") Контакты
    li(role="menuitem")
      a(href="#blog") Блог
