section.reviews
  ._container
    h2 Отзывы наших клиентов
    .reviews__inner
      .swiper-wrap
        .swiper.reviews__slider
          .swiper-wrapper
            .swiper-slide
              .swiper-slide__top
                .swiper-slide__img
                  img(src="./wp-content/themes/landing/assets/img/review-1.png" width="55" height="55" alt="")
                .swiper-slide__name 
                  p Владелец магазина
                  p Светлана Ионова
              .swiper-slide__text У нас небольшая фирма и потребности в штатном бухгалтере нет. Но даже, если и была держать в 
                | штате довольно-таки недешево, поэтому мы пользуемся услугами компании «Ваш бухгалтер». Функционала хватает, все делают 
                | вовремя и проблем с контролирующими органами нет. 
              .swiper-slide__stars 
                img(src="./wp-content/themes/landing/assets/img/stars.png" width="121" height="19" alt="")
            .swiper-slide
              .swiper-slide__top
                .swiper-slide__img
                  img(src="./wp-content/themes/landing/assets/img/review-2.png" width="55" height="55" alt="")
                .swiper-slide__name 
                  p Владелец магазина
                  p Светлана Ионова
              .swiper-slide__text У нас небольшая фирма и потребности в штатном бухгалтере нет. Но даже, если и была держать в 
                | штате довольно-таки недешево, поэтому мы пользуемся услугами компании «Ваш бухгалтер». Функционала хватает, все делают 
                | вовремя и проблем с контролирующими органами нет. 
              .swiper-slide__stars 
                img(src="./wp-content/themes/landing/assets/img/stars.png" width="121" height="19" alt="")
            .swiper-slide
              .swiper-slide__top
                .swiper-slide__img
                  img(src="./wp-content/themes/landing/assets/img/review-3.png" width="55" height="55" alt="")
                .swiper-slide__name 
                  p Владелец магазина
                  p Светлана Ионова
              .swiper-slide__text У нас небольшая фирма и потребности в штатном бухгалтере нет. Но даже, если и была держать в 
                | штате довольно-таки недешево, поэтому мы пользуемся услугами компании «Ваш бухгалтер». Функционала хватает, все делают 
                | вовремя и проблем с контролирующими органами нет. 
              .swiper-slide__stars 
                img(src="./wp-content/themes/landing/assets/img/stars.png" width="121" height="19" alt="")
            .swiper-slide
              .swiper-slide__top
                .swiper-slide__img
                  img(src="./wp-content/themes/landing/assets/img/review-1.png" width="55" height="55" alt="")
                .swiper-slide__name 
                  p Владелец магазина
                  p Светлана Ионова
              .swiper-slide__text У нас небольшая фирма и потребности в штатном бухгалтере нет. Но даже, если и была держать в 
                | штате довольно-таки недешево, поэтому мы пользуемся услугами компании «Ваш бухгалтер». Функционала хватает, все делают 
                | вовремя и проблем с контролирующими органами нет. 
              .swiper-slide__stars 
                img(src="./wp-content/themes/landing/assets/img/stars.png" width="121" height="19" alt="")
            .swiper-slide
              .swiper-slide__top
                .swiper-slide__img
                  img(src="./wp-content/themes/landing/assets/img/review-2.png" width="55" height="55" alt="")
                .swiper-slide__name 
                  p Владелец магазина
                  p Светлана Ионова
              .swiper-slide__text У нас небольшая фирма и потребности в штатном бухгалтере нет. Но даже, если и была держать в 
                | штате довольно-таки недешево, поэтому мы пользуемся услугами компании «Ваш бухгалтер». Функционала хватает, все делают 
                | вовремя и проблем с контролирующими органами нет. 
              .swiper-slide__stars 
                img(src="./wp-content/themes/landing/assets/img/stars.png" width="121" height="19" alt="")
            .swiper-slide
              .swiper-slide__top
                .swiper-slide__img
                  img(src="./wp-content/themes/landing/assets/img/review-3.png" width="55" height="55" alt="")
                .swiper-slide__name 
                  p Владелец магазина
                  p Светлана Ионова
              .swiper-slide__text У нас небольшая фирма и потребности в штатном бухгалтере нет. Но даже, если и была держать в 
                | штате довольно-таки недешево, поэтому мы пользуемся услугами компании «Ваш бухгалтер». Функционала хватает, все делают 
                | вовремя и проблем с контролирующими органами нет. 
              .swiper-slide__stars 
                img(src="./wp-content/themes/landing/assets/img/stars.png" width="121" height="19" alt="")
      .swiper-button-prev.swiper-button-prev-reviews(rel="prev")
        svg(aria-hidden="true")
          use(xlink:href="./wp-content/themes/landing/assets/img/icons/sprite.svg#slider-arrow")
      .swiper-button-next.swiper-button-next-reviews(rel="next")
        svg(aria-hidden="true")
          use(xlink:href="./wp-content/themes/landing/assets/img/icons/sprite.svg#slider-arrow")