nav#crumbs.breadcrumbs
  ul.breadcrumbs-list
    li(class="breadcrumbs__item")
      a(class="breadcrumbs__link breadcrumbs__link--homepage" href="http://localhost:8080/stirolbiopharm") Главная
      span.breadcrumbs-slash —
      | Кадровый учет
