section.form-consult
  ._container
    .form-consult__inner
      .form-consult__img
        img(src="/wp-content/themes/landing/assets/img/form-3.jpg" width="400" height="365" alt="")
        .form-consult__img-name
          p Пчелкина Мария
          p Директор по развитию
      .form-consult__title
        h2 Консультация эксперта
        p Ответим вам в течении 5 минут
        form.form-consult__form
          .form-consult__form-inputs
            input(type="text" placeholder="Ваше имя")
            input(type="text" placeholder="Номер телефона")
          .form-consult__form-bottom
            button(type="submit").btn.btn--white Перезвоните мне
            a(href="tel:89024601100").form-consult__form-phone 8 (902) 460-11-00