.first {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #E9DFD1;

  &__socials {
    position: absolute;
    right: 0;
    top: 7.6rem;

    &-item {
      padding: 2.5rem;
      border-bottom: 0.1rem solid #F2F2F2;
      background: #fff;

      &:nth-of-type(1) {
        border-top: 0.1rem solid #F2F2F2;
      }
    }
  }

  &__inner {
    padding: 3.9rem 0 14rem 0;
  }

  &__img {
    width: 65.6rem;
    height: 50rem;
    display: flex;
    justify-content: space-between;

    img {
      max-width: none;
      width: 65.6rem;
      height: 50rem;
    }
  }
  
  &__content {
    max-width: 67.3rem;
    padding: 0 7.1rem 0 3rem;

    &-btns {
      display: flex;
      align-items: center;

      button:nth-of-type(1) {
        margin-right: 1.5rem;
      }
    }

    h1,
    p {
      font-family: 'Montserrat';
      font-style: normal;
      display: flex;
      align-items: center;
    }

    h1 {
      margin-bottom: 2rem;
      font-weight: 700;
      font-size: 4rem;
      line-height: 120%;
      color: #3C5148;
    }

    p {
      margin-bottom: 3rem;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 140%;
      color: #333333;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}