section.form-questions
  ._container
    .form-questions__inner
      .form-questions__img
        img(src="./wp-content/themes/landing/assets/img/form-1.jpg" width="400" height="365" alt="")
      .form-questions__form
        h2 Остались вопросы?
        p Спросите у нашего специалиста или оставьте свой телефон, мы с радостью перезвоним сами и 
          | ответим на интересующие вопросы
        form.form-questions__contacts
          .form-questions__contacts-social
            a(href="tel:89024601100").form-questions__phone 8 (902) 460-11-00
            .form-questions__social-blocks
              .social-block
                a(href="#!")
                  img(src="./wp-content/themes/landing/assets/img/whatsapp-2.png" width="30" height="30" alt="") 
                  span WhatsApp
              .social-block
                a(href="#!")
                  img(src="./wp-content/themes/landing/assets/img/telegram-2.png" width="30" height="30" alt="") 
                  span Telegram
          .form-questions__contacts-phone
            input(type="text" placeholder="Номер телефона")
            button(type="submit").btn.btn--white Перезвоните мне