section.articles
  ._container
    h2 Похожие услуги
    .articles__list
      .articles__item
        .articles__item-img
          img(src="./wp-content/themes/landing/assets/img/article-1.jpg" width="336" height="190" alt="")
        .articles__item-content
          h3 Регистрация юридических лиц и ИП под ключ
          p Оказания комплексных услуг по регистрации ООО и ИП
          a(href="#!") Перейти
      .articles__item
        .articles__item-img
          img(src="./wp-content/themes/landing/assets/img/article-2.jpg" width="336" height="190" alt="")
        .articles__item-content
          h3 Налоговая консультация бесплатно
          p Самый трепетный вопрос предпринимательства – налоги
          a(href="#!") Перейти
      .articles__item
        .articles__item-img
          img(src="./wp-content/themes/landing/assets/img/article-2.jpg" width="336" height="190" alt="")
        .articles__item-content
          h3 Сдача нулевой отчетности
          p Оказания комплексных услуг по регистрации ООО и ИП
          a(href="#!") Перейти