section.prices
  ._container
    h2 Цены на дополнительные услуги
    .prices__table
      table
        tr
          th Название услуги
          th Цены
        tr
          td Начисление заработной платы (ОКЛАД) + 1 сотрудник
          td 1 000 ₽
        tr
          td Номенклатура материалов: дополнительная строка, свыше 5
          td 1 100 ₽
        tr
          td Подготовка документов (тендер, кредит, лизинг и так далее) в зависимости от объёма предоставляемых документов
          td от 2 000 ₽
        tr
          td Ответ на требование в зависимости от запросов фискальных органов
          td от 1 000 ₽
        tr
          td Подключение электронной отчетности
          td от 1 800 ₽
        tr
          td Консультация
          td 2 000 ₽ / час
