section.form-application
  ._container
    .form-application__inner
      .form-application__contacts
        h2 Контакты
        .contacts-blocks
          .contacts-block
            p Адрес
            p г. Екатеринбург, ул. Антона Валека, д. 15, оф. 507
          .contacts-block
            p Номера телефонов
            a(href="tel:+73432066926") +7 (343) 206-69-26
            a(href="tel:+79827489068") +7 (982) 748-90-68
        .contacts-blocks
          .contacts-block
            p Станция метро
            p Площадь 1905 года
          .contacts-block
            p Режим работы
            p 08:00 - 17:00
      .form-application__form
        h2 Оставить заявку
        p Оставьте свой телефон, мы перезвоним ответим /на интересующие вопросы по бухгалтерии
        input(type="text" placeholder="Номер телефона")
        button(type="submit").btn.btn--white Оставить заявку