section.staff
  ._container
    .staff__list
      .staff__item
        .staff__item-img
          img(src="./wp-content/themes/landing/assets/img/staff-1.jpg" width="247" height="300" alt="") 
        h3 Марина Елисеева
        p Руководитель отдела бухгалтерского аутсорсинга
      .staff__item
        .staff__item-img
          img(src="./wp-content/themes/landing/assets/img/staff-2.jpg" width="247" height="300" alt="") 
        h3 Анна Васильевна
        p Ведущий бухгалтер
      .staff__item
        .staff__item-img
          img(src="./wp-content/themes/landing/assets/img/staff-3.jpg" width="247" height="300" alt="") 
        h3 Светлана Чернова
        p Бухгалтер
      .staff__item
        .staff__item-img
          img(src="./wp-content/themes/landing/assets/img/staff-4.jpg" width="247" height="300" alt="") 
        h3 Нина Павловна
        p Бухгалтер
