header.header
  .header__inner
    include ./../../bem-blocks/burger/burger.pug
    include ./../../bem-blocks/logo/logo.pug
    include ./../../bem-blocks/nav/nav.pug
    include ./../../bem-blocks/phone/phone.pug
    include ./../../bem-blocks/socials/socials.pug