meta(charset="UTF-8")

//- Meta
meta(name="description" content="")
meta(name="keywords" content="")

//- Adaptive
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

//- Styles
link(rel="stylesheet", href="./wp-content/themes/landing/assets/css/main.css")
link(rel="stylesheet", href="./wp-content/themes/landing/assets/fonts/fonts.css")