section.faq
  ._container
    h2 Отвечаем на вопросы
    .faq__accordion
      .accordion-item
        .accordion-header 
          h3 Что мне делать с бумажными документами?
          .arrow
            span
        .accordion-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda est, officiis maxime in suscipit totam consequuntur 
            | sint nam sunt distinctio, modi tempore omnis corporis veniam unde expedita aliquam nulla, architecto commodi. Quaerat 
            | tempore accusantium eaque iste impedit ut mollitia quo, iusto iure repudiandae ad, nobis, libero eum eos maiores.
      .accordion-item
        .accordion-header 
          h3 А что, если я захочу расторгнуть договор?
          .arrow
            span
        .accordion-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda est, officiis maxime in suscipit totam consequuntur 
            | sint nam sunt distinctio, modi tempore omnis corporis veniam unde expedita aliquam nulla, architecto commodi. Quaerat 
            | tempore accusantium eaque iste impedit ut mollitia quo, iusto iure repudiandae ad, nobis, libero eum eos maiores.
      .accordion-item
        .accordion-header 
          h3 Что делать, если придет требование от налоговой?
          .arrow
            span
        .accordion-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda est, officiis maxime in suscipit totam consequuntur 
            | sint nam sunt distinctio, modi tempore omnis corporis veniam unde expedita aliquam nulla, architecto commodi. Quaerat 
            | tempore accusantium eaque iste impedit ut mollitia quo, iusto iure repudiandae ad, nobis, libero eum eos maiores.
      .accordion-item
        .accordion-header 
          h3 Что будет, если бухгалтер допустит ошибку?
          .arrow
            span
        .accordion-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda est, officiis maxime in suscipit totam consequuntur 
            | sint nam sunt distinctio, modi tempore omnis corporis veniam unde expedita aliquam nulla, architecto commodi. Quaerat 
            | tempore accusantium eaque iste impedit ut mollitia quo, iusto iure repudiandae ad, nobis, libero eum eos maiores.
      .accordion-item
        .accordion-header 
          h3 Есть у вас прайс-лист?
          .arrow
            span
        .accordion-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda est, officiis maxime in suscipit totam consequuntur 
            | sint nam sunt distinctio, modi tempore omnis corporis veniam unde expedita aliquam nulla, architecto commodi. Quaerat 
            | tempore accusantium eaque iste impedit ut mollitia quo, iusto iure repudiandae ad, nobis, libero eum eos maiores.
